{% extends 'base.html.twig' %}



{% block contents %}
<div class="layout layout-nav-top layout-sidebar">

    <div class="main-container">
        <div class="content-container">

            <div class="breadcrumb-bar navbar bg-white sticky-top">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="index-2.html">Feature</a>
                        </li>
                        <li class="breadcrumb-item"><a href="pages-app.html#">User Story</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tasks board</li>
                    </ol>
                </nav>

                <div class="dropdown">
                    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">settings</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Project</a>
                        <a class="dropdown-item" href="#">Share</a>
                        <a class="dropdown-item" href="#">Mark as Complete</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Archive</a>

                    </div>
                </div>
            </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-11 col-xl-10">
                <div class="page-header">
                    <h1>Feature Details</h1>

                    <div class="" >
                        <div class="card card-team">
                            <div class="card-body">
                                <div class="dropdown card-options">
                                    <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right ">
                                        <a class="dropdown-item" href="{{ path('userstory_index', { 'id': feature.id }) }}">Show</a>
                                        <a class="dropdown-item text-danger" href="">Edit</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <a href="#">
                                        <h5 data-filter-by="text">{{ feature.name }}</h5>
                                    </a>
                                    <p>
                                        <span>Id: {{ feature.id }}</span>
                                    <p> <span>State: {{ feature.etat }}</span></p>
                                    <p> <span>Sprint: {{ feature.sprint }}</span></p>
                                </div>

                            </div>
                        </div>
                    </div>



                </div>


                <div class="tab-content">
                    <div class="tab-pane fade show active" id="task" role="tabpanel">
                        <div class="content-list" data-filter-list="checklist">


                </div>
            </div>
        </div>


    </div>
    {% endblock %}
            {% block javascript %}
{% endblock %}