{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}


    <p class="loginhere" style="-webkit-text-fill-color: #2c4762;margin-left: 100px;margin-top: -50Px">
        Already using Scrumify?    <a   class="btn btn-success" value="Sign up here"   style="background: linear-gradient(to bottom left , #22c1c3 , #626970  );font-family:'Calibri Light';-webkit-text-fill-color: #FFFFFF; margin-left: 40px;" href="{{ path('fos_user_security_login') }}">Sign in</a>
    </p>

    <div style="background-color: #FFFFFF;padding: 40Px;alignment: top;">
        <div class="text-gray">
            <p class="text-gray" style="font-weight: bold">Sign up now </p>
            <p class="text-gray"> Create your scrumify account </p>
        </div>


    <div class="col-lg-12" >
        <div class="form-group">
            {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg ','placeholder':'Your username'}}) }}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">

        {{ form_widget(form.email, {'attr': {'class': 'form-control form-control-lg ','placeholder':'Your Email'}}) }}
        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">

        {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control form-control-lg ','placeholder':'Password'}}) }}
        <span toggle="#password" class="zmdi zmdi-eye field-icon toggle-password"></span>

        </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">

        {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control form-control-lg ','placeholder':'Repeat your password'}}) }}
        </div>
    </div>

<div class="col-lg-12">
    <div class="form-group">

    {{ form_widget(form.image,{'attr': {'class':'form-control form-control-lg '}        }) }}

    </div>
</div>
    <div class="col-lg-12">
        <div class="form-group">

        <input type="checkbox" name="agree-term" id="agree-term" class="" />
        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all statements in  <a href="#" class="term-service">Terms of service</a></label>
    </div>
    </div>
    <div class="col-lg-12">
        <div class="form-group">

        <input type="submit" name="_submit" id="submit" class="btn btn-success btn-lg btn-block" class="form-submit" value="Sign Up" style="background-color: #16CABD;"/>
        </div>
    </div>
{{ form_end(form) }}



</div>




