{{ form_start(form) }}

<div class="form-group">
    <label>name  </label>

    {{ form_widget(form.name,{'attr':{'class':'form-control'}} ) }}
</div>




{{ form_widget(form.Ajouter)}}
                {{ form_rest(form) }}
                {{ form_end(form) }}
