{% extends'baseF.html.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block contents %}

    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Teams </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input name="table_search" class="form-control float-right" placeholder="Search"
                                   type="text">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-secondary"><i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>

                            <th>Name</th>
                            <th>Date of creation</th>
                            <th>Date of updating</th>
                            <th>Action</th>
                            <th>information</th>


                        </tr>
                        {% for pp in pp %}

                            <tr>

                                <td>{{ pp.name }}</td>
                                <td>{{ pp.created  | date('d-M-Y')}}</td>
                                <td>{{ pp.updated | date('d-M-Y')}}</td>
                                <td> <a href="{{ path('archive_team1', { 'id': pp.id }) }}">Archiver</a><br>
                                    <a href="{{ path('desarchive_team1', { 'id': pp.id }) }}">Desarchiver</a>
                                </td>
                                {% if pp.ind == 1 %}
                                <td>Archived</td>
                                {% endif %}
                                {% if pp.ind == 0 %}
                                    <td>Unarchived</td>
                                {% endif %}



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>
        <div class="col-md-7">
            <div class="card no-b p-3">
                <div class="card-title">
                    <h4>Archived Teams</h4>
                </div>

                <div class="row">


                    <div class="col-md-3">
                             <span class="easy-pie-chart" data-percent={{ pr |round }} data-options="{&quot;lineWidth&quot;: 10, &quot;barColor&quot;: &quot;#7dc855&quot;}">
                                    <span class="percent"> {{ pr |round }}</span>
                            <canvas height="137" width="137" style="height: 110px; width: 110px;"></canvas></span>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


