{% extends'baseF.html.twig' %}

     {% block dashlink %}
         <li><a href="{{path('chart')}}"><i class="icon icon-folder5"></i>Overview</a>
         </li>
     {% endblock %}
    {% block projectlink %}
        <ul class="treeview-menu">
            <li><a href="{{path('back')}}"><i class="icon icon-circle-o"></i> Projects</a>
            </li>

        </ul>
    {% endblock %}
        {% block teamlink %}
            <li class="treeview"><a href="{{ path('show_team_back') }}"><i class="icon icon-account_box light-green-text s-18"></i>Teams<i
                            class="icon icon-angle-left s-18 pull-right"></i></a>

            </li>
        {% endblock %}
 {% block restlink %}


 {% endblock %}
{% block contents %}

{% block items %}

    <div class="row" style="width: 400%">
        <div class="col-12">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title"> Teams </h3>
                    <div class="box-tools">
                        <div class="input-group input-group-sm" style="width: 150px;">
                            <input name="table_search" class="form-control float-right" placeholder="Search"
                                   type="text">
                            <div class="input-group-btn">
                                <button type="submit" class="btn btn-secondary"><i class="icon-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">
                    <table class="table table-hover">
                        <tbody>
                        <tr>

                            <th>Name</th>
                            <th>Date of creation</th>
                            <th>Date of updating</th>
                            <th>Action</th>
                            <th>information</th>


                        </tr>
                        {% for pp in pp %}

                            <tr>

                                <td>{{ pp.name }}</td>
                                <td>{{ pp.created  | date('d-M-Y')}}</td>
                                <td>{{ pp.updated | date('d-M-Y')}}</td>
                                <td> <a href="{{ path('archive_team1', { 'id': pp.id }) }}">Archiver</a><br>
                                    <a href="{{ path('desarchive_team1', { 'id': pp.id }) }}">Desarchiver</a>
                                </td>
                                {% if pp.ind == 1 %}
                                <td>Archived</td>
                                {% endif %}
                                {% if pp.ind == 0 %}
                                    <td>Unarchived</td>
                                {% endif %}



                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </div>
{% endblock %}
{% endblock %}


