
{% extends'baseF.html.twig' %}

{% block stylesheets %}

    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
    <link rel="stylesheet" type="text/css" href={{ asset('Front/Index/fonts/icomoon/style.css') }}>

{% endblock %}
{% block contents %}
{% block items %}
<div style="width: 400%">
        <div class="tt-categories-list float-right w-25 ">
            <div class="row pl-5" style="">
                <div class="col-md-6 col-lg-10">
                    <div class="tt-item  rounded-lg" style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
                        <div class="tt-item-header">
                            <ul class="tt-list-badge">
                                <li><a href="#"><span class="tt-color01 tt-badge bg-dark" >Categories</span></a></li>
                            </ul>
                        </div>
                        <div class="tt-item-layout">
                            <div class="innerwrapper">
                                Popular Categories
                            </div>
                            <div class="innerwrapper">
                                <ul class="tt-list-badge">

                                    {% for c in categories %}
                                        <li><a href="#"><span class="tt-badge " style="background-color: {{ c.color }}; color:white;">{{ c.cname }}</span></a></li>
                                    {%  endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pl-5" style="">
                <div class="col-md-6 col-lg-10">
                    <div class="tt-item  rounded-lg" style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
                        <div class="tt-item-header">
                            <ul class="tt-list-badge">
                                <li><a href="#"><span class="tt-color01 tt-badge bg-dark" >Tags</span></a></li>
                            </ul>
                        </div>
                        <div class="tt-item-layout">
                            <div class="innerwrapper">
                                Popular Tags
                            </div>
                            <div class="innerwrapper">
                                <ul class="tt-list-badge">

                                    {% for t in tags %}
                                        <li><a href="#"><span class="tt-badge " style="background-color: #d7dadc; color:black;">{{ t.name }}</span></a></li>
                                    {%  endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row pl-5" style="">
                <div class="col-md-6 col-lg-10">
                    <div class="tt-item  rounded-lg" style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
                        <div class="tt-item-header">
                            <ul class="tt-list-badge">
                                <li><a href="#"><span class="tt-color01 tt-badge bg-dark" >Trophies</span></a></li>
                            </ul>
                        </div>
                        <div class="tt-item-layout">
                            <div class="innerwrapper">
                                Your Trophies
                            </div>
                            <div class="innerwrapper">
                                <ul class="tt-list-badge">

                                    {% for b in badges %}
                                        <li><a href="#"><span class="tt-badge " style="background-color: #d7dadc; color:black;">{{ b.name }}</span></a></li>
                                    {%  endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="tt-single-topic-list w-75">
            <div class="tt-item  rounded-lg">
    <div class="tt-single-topic rounded-lg" style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
        <div class="tt-item-header">
            <div class="tt-item-info info-top">
                <div class="tt-avatar-icon">
                    <i class="tt-icon"><svg><use xlink:href="#icon-ava-{{ question.User.username | lower | first }}"></use></svg></i>
                </div>
                <div class="tt-avatar-title">
                    <a href="#">{{ question.User.username }}</a>
                </div>
                <a href="#" class="tt-info-time">
                    <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{ question.questionDate | date("m/d/y \\a\\t H:i")}}
                </a>
            </div>
            <h3 class="tt-item-title">
                <a href="#">{{ question.title }}</a>
            </h3>

        </div>
        <div class="tt-item-description">
            <h6 class="tt-title">{{ question.description | raw}}</h6>
        </div>
        <div class="tt-item-info info-bottom">
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                <span class="tt-text">{{ question.likes }}</span>
            </a>
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                <span class="tt-text">{{ question.dislikes }}</span>
            </a>
            <a href="#" class="tt-icon-btn">
                <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                <span class="tt-text">0</span>
            </a>
            <div class="col-separator"></div>
            <a href="{{ path('create_thread', {"id":question.User.id}) }}" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="icon-hand-o-up"></i>
            </a>
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
            </a>
            <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
            </a>
        </div>
    </div>
            </div>


            {% for answer in answers %}
            {% if user.username == answer.User.username %}
                <div  class="tt-item tt-wrapper-success  rounded-lg">

                    {% else %}
                    <div class="tt-item  rounded-lg">
                        {% endif %}
                <div class="tt-single-topic rounded-lg" style="margin-top:20px;box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-{{ question.User.username | lower | first }}"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">
                                <a href="#">{{ answer.User.username }}</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>{{ answer.answerDate | date("m/d/y \\a\\t H:i")}}
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        {{ answer.content | raw}}
                    </div>
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">0</span>
                        </a>
                        <a href="#" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                            <span class="tt-text">0</span>
                        </a>
                        <a href="#" class="tt-icon-btn">
                            <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                            <span class="tt-text">0</span>
                        </a>
                        <div class="col-separator"></div>

                        {% if user.username == answer.User.username %}
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="icon-edit"></i>
                        </a>
                        <a href="{{ path('_delete_answer',{'id':answer.id}) }}" class="tt-icon-btn tt-hover-02 tt-small-indent">

                            <i class="icon-delete"></i>
                        </a>
                        {%  endif %}
                    </div>
                </div>
            </div>
    {% endfor %}



            <div class="tt-wrapper-inner">
                <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
            </div>

            {{ form_start(f2) }}
            <div class="tt-wrapper-inner w-75">
                <div class="pt-editor form-default">
                    <h6 class="pt-title">Post Your Reply</h6>
                    <div class="form-group">
                        {{ form_widget(f2.content, {'attr': {'class': 'form-control',"placeholder":"Lets get started", "name":"message", "rows":"5"}}) }}

                    </div>
                    <div class="pt-row">
                        <div class="col-auto">
                            <div class="checkbox-group">
                                <input type="checkbox" id="checkBox21" name="checkbox" checked="">
                                <label for="checkBox21">
                                    <span class="check"></span>
                                    <span class="box"></span>
                                    <span class="tt-text">Subscribe to this topic.</span>
                                </label>
                            </div>
                        </div>
                        <div class="col-auto">
                            {{ form_widget(f2.submit, {'attr': {'class': 'btn btn-secondary btn-width-lg', "type":"submit", "value":""}}) }}
                        </div>
                    </div>
                </div>
            </div>

            {{ form_end(f2) }}

        </div>
        </div>

    </div>


{% endblock %}

{% endblock %}