{% extends'baseF.html.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block contents %}


    <div class="container-fluid relative animatedParent animateOnce">
        <div class="tab-content pb-3" id="v-pills-tabContent">
            <!--Today Tab Start-->
            <div class="tab-pane animated fadeInUpShort show active go" id="v-pills-1">
                <div class="row my-3">

                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-person_outline s-48"></span>
                                </div>
                                <div class="counter-title ">Members</div>
                                <h5 class="sc-counter mt-3 counter-animated">{{ sizeU }}</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-people s-48"></span>
                                </div>
                                <div class="counter-title ">Teams</div>
                                <h5 class="sc-counter mt-3 counter-animated">{{ sizeT }}</h5>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-leanpub s-48"></span>
                                </div>
                                <div class="counter-title ">Projects</div>
                                <h5 class="sc-counter mt-3 counter-animated">{{ sizeP }}</h5>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="white p-5 r-5">
                            <div class="card-title">
                                <h5> Sales Overview</h5>
                            </div>
                            <div class="row my-3">
                                <div class="col-md-3">
                                    <div class="my-3 mt-4">
                                        <h5>Sales <span class="red-text">+203.48</span></h5>
                                        <span class="s-24">$2652.07</span>
                                        <p>A short summary of sales report if you want to add here. This could be useful
                                            for quick view.</p>
                                    </div>
                                    <div class="row no-gutters bg-light r-3 p-2 mt-5">
                                        <div class="col-md-6 b-r p-3">
                                            <h5>Net Sales</h5>
                                            <span>$2351.08 </span>
                                        </div>
                                        <div class="col-md-6 p-3">
                                            <div class="">
                                                <h5>Costs <span class="amber-text">+87.4</span></h5>
                                                <span>$900.09</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="div_chart" style="margin: unset; margin-top: 20px; background-color: transparent"></div>

                                <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                                <script type="text/javascript">
                                    {{ gc_draw(piechart, 'div_chart') }}
                                </script>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row row-eq-height">
                    <!-- Social Widget Start -->
                    <div class="col-md-3">
                        <div class="card my-3 no-b r-5">
                            <div class="card-header white no-b">
                                <h6><span class="badge badge-danger r-3 mr-2">5</span>New Chats </h6>
                            </div>
                            <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 435px;"><div class="card-body chat-widget  p-3 r-5 slimScroll" data-height="435" style="overflow: hidden; width: auto; height: 435px;">
                                    <ul class="list-unstyled">
                                        <li class="by-me">
                                            <div class="avatar float-left">
                                                <img src="assets/img/dummy/u1.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator busy"></span>
                                            </div>
                                            <div class="chat-content">
                                                <!-- In meta area, first include "name" and then "time" -->
                                                <div class="chat-meta">Sent
                                                    <span class="float-right">3 hours ago</span>
                                                </div>
                                                Vivamus diam elit diam, consectetur dapibus adipiscing elit.
                                            </div>
                                        </li>
                                        <!-- Chat by other. Use the class "by-other". -->
                                        <li class="by-other">
                                            <!-- Use the class "float-right" in avatar -->
                                            <div class="avatar float-right">
                                                <!-- Online or offline -->
                                                <b class="c-off"></b>
                                                <img src="assets/img/dummy/u4.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator idle"></span>
                                            </div>
                                            <div class="chat-content">
                                                <!-- In the chat meta, first include "time" then "name" -->
                                                <div class="chat-meta">3 hours ago
                                                    <span class="float-right">Received</span>
                                                </div>
                                                Vivamus diam elit diam, consectetur elit.
                                            </div>
                                        </li>
                                        <li class="by-me">
                                            <div class="avatar float-left">
                                                <b class="c-on"></b>
                                                <img src="assets/img/dummy/u5.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator online"></span>
                                            </div>
                                            <div class="chat-content">
                                                <div class="chat-meta">Seen
                                                    <span class="float-right">4 hours ago</span>
                                                </div>
                                                Lorem dolor sit sit amet dolo.
                                            </div>
                                        </li>
                                        <li class="by-other">
                                            <!-- Use the class "float-right" in avatar -->
                                            <div class="avatar float-right">
                                                <b class="c-off"></b>
                                                <img src="assets/img/dummy/u4.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator online"></span>
                                            </div>
                                            <div class="chat-content">
                                                <!-- In the chat meta, first include "time" then "name" -->
                                                <div class="chat-meta">3 hours ago
                                                    <span class="float-right">Undelivered</span>
                                                </div>
                                                Vivamus diam elit diam, consectetur.
                                            </div>
                                        </li>
                                        <li class="by-me">
                                            <div class="avatar float-left">
                                                <b class="c-on"></b>
                                                <img src="assets/img/dummy/u3.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator bust"></span>
                                            </div>
                                            <div class="chat-content">
                                                <div class="chat-meta">Audio
                                                    <span class="float-right">4 hours ago</span>
                                                </div>
                                                Vivamus diam eget, Vivamus consectetur.
                                            </div>
                                        </li>
                                        <li class="by-other">
                                            <!-- Use the class "float-right" in avatar -->
                                            <div class="avatar float-right">
                                                <b class="c-off"></b>
                                                <img src="assets/img/dummy/u2.png" alt="" class="img-responsive">
                                                <span class="avatar-badge has-indicator online"></span>
                                            </div>
                                            <div class="chat-content">
                                                <!-- In the chat meta, first include "time" then "name" -->
                                                <div class="chat-meta">3 hours ago
                                                    <span class="float-right">Image</span>
                                                </div>
                                                Duis dolor sit eut purus dolor feugius diam elit diamt.
                                            </div>
                                        </li>
                                    </ul>
                                </div><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.95); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 250.962px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                            <div class="card-footer white">
                                <!-- Chat button -->
                                <form>
                                    <div class="input-group">
                                        <input class="form-control s-12 bg-light r-30 mr-3" placeholder="Type your message..." type="text">
                                        <span class="input-group-btn">
                                                        <button type="submit" class="btn-fab btn-danger p-0 s-14"><i class="icon-subdirectory_arrow_left"></i></button>
                                                    </span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <!-- Social Widget End -->
                    <!-- Product Widget Start -->
                    <div class="col-md-3">
                        <div class="card no-b r-5 my-3">
                            <div class="card-body">
                                <h5 class="card-title">New Followers <span class="badge badge-success r-3">30+</span>
                                </h5>
                                <p>There are 30 new followers</p>
                                <div class="avatar-group">
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u4.png" alt=""></figure>
                                    <figure class="avatar">
                                        <span class="avatar-letter avatar-letter-l circle"></span>
                                    </figure>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u5.png" alt=""></figure>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u6.png" alt=""></figure>
                                    <figure class="avatar">
                                        <img src="assets/img/dummy/u7.png" alt="">
                                    </figure>
                                    <figure class="avatar">
                                        <span class="avatar-letter avatar-letter-a circle"></span>
                                    </figure>
                                    <figure class="avatar">
                                        <span class="avatar-letter avatar-letter-b circle"></span>
                                    </figure>
                                </div>
                            </div>
                        </div>
                        <div class="card no-b r-5 my-3">
                            <div class="bg-primary text-white lighten-2 r-5">
                                <div class="pt-5 pb-0 pl-4 pr-4">
                                    <div class="lSSlideOuter "><div class="lSSlideWrapper usingCss" style="transition-duration: 400ms; transition-timing-function: ease;"><div class="lightSlider masonry-container lsGrab showSlider lSSlide" data-item="1" data-item-md="1" data-item-sm="1" data-auto="true" data-pause="6000" data-pager="false" data-controls="false" data-loop="true" style="width: 977.2px; transform: translate3d(-488.6px, 0px, 0px); height: 298.4px; padding-bottom: 0%; position: relative;"><div class="clone left" style="width: 234.3px; margin-right: 10px; position: absolute; left: 0px; top: 0px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                    <h5 class="font-weight-normal s-14">Followers Increased</h5>
                                                    <div class="my-5">
                                                  <span>
                                               Today 30%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="my-5">
                                                  <span>
                                               Yesterday 10%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <canvas width="292" height="107" data-chart="spark" data-chart-type="line" data-dataset="[[28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430]]" data-labels="['a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d']" data-dataset-options="[
                                                        { borderColor:  'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235,1)'},
                                                        ]" class="chartjs-render-monitor js-chart-drawn" style="display: block; height: 86px; width: 234px;">
                                                    </canvas>
                                                </div>
                                                <div class="lslide" style="width: 234.3px; margin-right: 10px; position: absolute; left: 244px; top: 0px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                    <h5 class="font-weight-normal s-14">Followers Increased</h5>
                                                    <div class="my-5">
                                                  <span>
                                               Today 30%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="my-5">
                                                  <span>
                                               Yesterday 10%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <canvas width="292" height="107" data-chart="spark" data-chart-type="bar" data-dataset="[[28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430]]" data-labels="['a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d']" data-dataset-options="[
                                                        { borderColor:  'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235,1)'},
                                                        ]" class="chartjs-render-monitor js-chart-drawn" style="display: block; height: 86px; width: 234px;">
                                                    </canvas>
                                                </div>
                                                <div class="lslide active" style="width: 234.3px; margin-right: 10px; position: absolute; left: 488px; top: 0px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                    <h5 class="font-weight-normal s-14">Followers Increased</h5>
                                                    <div class="my-5">
                                                  <span>
                                               Today 30%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="my-5">
                                                  <span>
                                               Yesterday 10%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <canvas width="292" height="107" data-chart="spark" data-chart-type="line" data-dataset="[[28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430]]" data-labels="['a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d']" data-dataset-options="[
                                                        { borderColor:  'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235,1)'},
                                                        ]" class="chartjs-render-monitor js-chart-drawn" style="display: block; height: 86px; width: 234px;">
                                                    </canvas>
                                                </div>
                                                <div class="clone right" style="width: 234.3px; margin-right: 10px; position: absolute; left: 732px; top: 0px;"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                                    <h5 class="font-weight-normal s-14">Followers Increased</h5>
                                                    <div class="my-5">
                                                  <span>
                                               Today 30%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <div class="my-5">
                                                  <span>
                                               Yesterday 10%</span>
                                                        <div class="progress" style="height: 3px;">
                                                            <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                        </div>
                                                    </div>
                                                    <canvas width="292" height="107" data-chart="spark" data-chart-type="bar" data-dataset="[[28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430,28,530,200,430]]" data-labels="['a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d','a','b','c','d']" data-dataset-options="[
                                                        { borderColor:  'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235,1)'},
                                                        ]" class="chartjs-render-monitor js-chart-drawn" style="display: block; height: 86px; width: 234px;">
                                                    </canvas>
                                                </div></div></div></div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card my-3 no-b">
                            <div class="card-header white b-0 p-3">
                                <div class="card-handle">
                                    <a data-toggle="collapse" href="#salesCard" aria-expanded="false" aria-controls="salesCard">
                                        <i class="icon-menu"></i>
                                    </a>
                                </div>
                                <h4 class="card-title">Daily Sale Report</h4>
                                <small class="card-subtitle mb-2 text-muted">Items purchase by users.</small>
                            </div>
                            <div class="collapse show" id="salesCard">
                                <div class="card-body p-0">
                                    <div class="table-responsive">
                                        <table class="table table-hover earning-box">
                                            <thead class="bg-light">
                                            <tr>
                                                <th colspan="2">Client Name</th>
                                                <th>Item Purchased</th>
                                                <th>Price</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="w-10">
                                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                        <img src="assets/img/dummy/u6.png" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6>Sara Kamzoon</h6>
                                                    <small class="text-muted">Marketing Manager</small>
                                                </td>
                                                <td>25</td>
                                                <td>$250</td>
                                            </tr>
                                            <tr>
                                                <td class="w-10">
                                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                        <img src="assets/img/dummy/u7.png" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6>Sara Kamzoon</h6>
                                                    <small class="text-muted">Marketing Manager</small>
                                                </td>
                                                <td>25</td>
                                                <td>$250</td>
                                            </tr>
                                            <tr>
                                                <td class="w-10">
                                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                        <img src="assets/img/dummy/u9.png" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6>Sara Kamzoon</h6>
                                                    <small class="text-muted">Marketing Manager</small>
                                                </td>
                                                <td>25</td>
                                                <td>$250</td>
                                            </tr>
                                            <tr>
                                                <td class="w-10">
                                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                        <img src="assets/img/dummy/u11.png" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6>Sara Kamzoon</h6>
                                                    <small class="text-muted">Marketing Manager</small>
                                                </td>
                                                <td>25</td>
                                                <td>$250</td>
                                            </tr>
                                            <tr>
                                                <td class="w-10">
                                                    <a href="panel-page-profile.html" class="avatar avatar-lg">
                                                        <img src="assets/img/dummy/u12.png" alt="">
                                                    </a>
                                                </td>
                                                <td>
                                                    <h6>Sara Kamzoon</h6>
                                                    <small class="text-muted">Marketing Manager</small>
                                                </td>
                                                <td>25</td>
                                                <td>$250</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Today Tab End-->
            <!--Yesterday Tab Start-->
            <div class="tab-pane animated fadeInUpShort go" id="v-pills-2">
                <div class="row my-3">
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-note-list text-light-blue s-48"></span>
                                </div>
                                <div class="counter-title">Web Projects</div>
                                <h5 class="sc-counter mt-3 counter-animated">3,000</h5>
                            </div>
                            <div class="progress progress-xs r-0">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="128"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-mail-envelope-open s-48"></span>
                                </div>
                                <div class="counter-title ">Premium Themes</div>
                                <h5 class="sc-counter mt-3 counter-animated">1,000</h5>
                            </div>
                            <div class="progress progress-xs r-0">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 50%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="128"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-stop-watch3 s-48"></span>
                                </div>
                                <div class="counter-title">Support Requests</div>
                                <h5 class="sc-counter mt-3 counter-animated">600</h5>
                            </div>
                            <div class="progress progress-xs r-0">
                                <div class="progress-bar" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="128"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="counter-box white r-5 p-3">
                            <div class="p-4">
                                <div class="float-right">
                                    <span class="icon icon-inbox-document-text s-48"></span>
                                </div>
                                <div class="counter-title">Support Requests</div>
                                <h5 class="sc-counter mt-3 counter-animated">525</h5>
                            </div>
                            <div class="progress progress-xs r-0">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="128"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="white p-5 r-5">
                            <div style="height: 528px">
                                <canvas data-chart="line" data-dataset="[
                                                [0,528,228,728,528,1628,0],
                                                [0,628,228,1228,428,1828,0],
                                                ]" data-labels="['Blue','Yellow','Green','Purple','Orange','Red','Indigo']" data-dataset-options="[
                                            { label:'Sales', borderColor:  'rgba(54, 162, 235, 1)', backgroundColor: 'rgba(54, 162, 235,1)'},
                                            { label:'Orders', borderColor:  'rgba(255,99,132,1)', backgroundColor: 'rgba(255, 99, 132, 1)' }]" data-options="{
                                                maintainAspectRatio: false,
                                                legend: {
                                                    display: true
                                                },

                                                scales: {
                                                    xAxes: [{
                                                        display: true,
                                                        gridLines: {
                                                            zeroLineColor: '#eee',
                                                            color: '#eee',

                                                            borderDash: [5, 5],
                                                        }
                                                    }],
                                                    yAxes: [{
                                                        display: true,
                                                        gridLines: {
                                                            zeroLineColor: '#eee',
                                                            color: '#eee',
                                                            borderDash: [5, 5],
                                                        }
                                                    }]

                                                },
                                                elements: {
                                                    line: {

                                                        tension: 0.4,
                                                        borderWidth: 1
                                                    },
                                                    point: {
                                                        radius: 2,
                                                        hitRadius: 10,
                                                        hoverRadius: 6,
                                                        borderWidth: 4
                                                    }
                                                }
                                            }">
                                </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Yesterday Tab Start-->
            <!--Yesterday Tab Start-->
            <div class="tab-pane animated fadeInUpShort go" id="v-pills-3">
                <div class="row">
                    <div class="col-md-4 mx-md-auto m-5">
                        <div class="card no-b shadow">
                            <div class="card-body p-4">
                                <div>
                                    <i class="icon-calendar-check-o s-48 text-primary"></i>
                                    <p class="p-t-b-20">Hey Soldier welcome back signin now there is lot of new stuff
                                        waiting
                                        for you</p>
                                </div>
                                <form action="dashboard2.html">
                                    <div class="form-group has-icon"><i class="icon-calendar"></i>
                                        <input class="form-control form-control-lg datePicker" placeholder="Date From" type="text">
                                    </div>
                                    <div class="form-group has-icon"><i class="icon-calendar"></i>
                                        <input class="form-control form-control-lg datePicker" placeholder="Date TO" type="text">
                                    </div>
                                    <input class="btn btn-success btn-lg btn-block" value="Get Data" type="submit">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Yesterday Tab Start-->
        </div>
    </div>
</div>

{% endblock %}