{% extends 'pdf.html.twig' %}

{% block contents %}
<h1>Userstories List</h1>
            {% for userstory in userstories %}
                <div class="col-md-6">
                    <div class="card card-team">
                        <div class="card-body">
                            <div class="dropdown card-options">
                                <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">more_vert</i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right ">
                                    <a class="dropdown-item" href="{{ path('userstory_show', { 'id': userstory.id }) }}">Show</a>
                                    <a class="dropdown-item text-danger" href={{ path('userstory_edit', { 'id': userstory.id }) }}"">Edit</a>
                                    <a class="dropdown-item text-danger" href="{{ path('userstory_delete', { 'id': userstory.id }) }}">archive</a>

                                </div>
                            </div>
                            <div class="card-title">
                                <a href="#">
                                    <h5 data-filter-by="text">{{ userstory.description }}</h5>
                                </a>
                                <p>
                                    <span>Priority: {{ userstory.priority }}</span>
                                <p> <span>storyPoint: {{ userstory.storyPoint }}</span></p>
                                <p> <span>state: {{ userstory.etat }}</span></p>
                            </div>

                        </div>
                    </div>


                </div>

            {% endfor %}

            <form class="modal fade" id="feature-add-modal" tabindex="-1" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Userstory</h5>
                            <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                <i class="material-icons">close</i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="team-add-details-tab" data-toggle="tab" href="#team-add-details" role="tab" aria-controls="team-add-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="team-add-members-tab" data-toggle="tab" href="#team-add-members" role="tab" aria-controls="team-add-members" aria-selected="false">Members</a>
                            </li>
                        </ul>
                        {{ form_start(form) }}
                        <div class="modal-body">
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="team-add-details" role="tabpanel">
                                    <h6>UserStory Details</h6>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Description</label>
                                        {{ form_widget(form.description,  {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3">Priority</label>
                                        {{ form_widget(form.priority,  {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Story Point</label>
                                        {{ form_widget(form.storyPoint,  {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">State</label>
                                        {{ form_widget(form.etat,  {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Feature</label>
                                        {{ form_widget(form.feature,  {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                </div>




                                {{ form_end(form) }}
                                {{ form_end(form) }}

{% endblock %}
{% block javascript %}
{% endblock %}