{% extends 'base.html.twig' %}

{% block contents %}
<div class="layout layout-nav-top layout-sidebar">



    <div class="main-container">
        <div class="content-container">

            <div class="breadcrumb-bar navbar bg-white sticky-top">

                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a >Features</a>
                        </li>
                        <li class="breadcrumb-item"><a href="{{ path('userstory_index',{ 'id': userstory.id }) }}">User Stories</a>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">Tasks board</li>
                    </ol>
                </nav>

                <div class="dropdown">
                    <button class="btn btn-round" role="button" data-toggle="dropdown" aria-expanded="false">
                        <i class="material-icons">settings</i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right">

                        <a class="dropdown-item" href="#" data-toggle="modal" data-target="#project-edit-modal">Edit Project</a>
                        <a class="dropdown-item" href="#">Share</a>
                        <a class="dropdown-item" href="#">Mark as Complete</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item text-danger" href="#">Archive</a>

                    </div>
                </div>
            </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-11 col-xl-10">
                    <div class="page-header">
                        <h1>Userstory Details</h1>

                        <div class="" >
                            <div class="card card-team">
                                <div class="card-body">
                                    <div class="dropdown card-options">
                                        <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <i class="material-icons">more_vert</i>
                                        </button>
                                        <div class="dropdown-menu dropdown-menu-right ">
                                            <a class="dropdown-item" href="{{ path('show_tasks', { 'id': userstory.id }) }}">Show</a>
                                            <a class="dropdown-item text-danger" href="">Edit</a>
                                        </div>
                                    </div>
                                    <div class="card-title">
                                        <a href="#">
                                            <h5 data-filter-by="text">{{ userstory.description }}</h5>
                                        </a>
                                        <p>
                                            <span>Priority: {{ userstory.priority }}</span>
                                        <p> <span>storyPoint: {{ userstory.storyPoint }}</span></p>
                                        <p> <span>state: {{ userstory.etat }}</span></p>
                                    </div>

                                </div>
                            </div>
                        </div>



                    </div>


                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="task" role="tabpanel">
                            <div class="content-list" data-filter-list="checklist">

                                <!--end of content list head-->
                                <div class="content-list" data-filter-list="content-list-body">
                                    <div class="row content-list-head">
                                        <div class="col-auto">
                                            <h3>Notes</h3>

                                        </div>
                                        <form class="col-md-auto">
                                            <div class="input-group input-group-round">
                                                <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                                </div>
                                                <input type="search" class="form-control filter-list-input" placeholder="Filter notes" aria-label="Filter notes">
                                            </div>
                                        </form>
                                    </div>
                                    <form method="post" action="{{ path('ajout_comment', { 'id': userstory.id }) }}">
                                        comment <input type="text" name="comment" aria-label="commenter">
                                        <input type="submit" value="ajouter" >
                                    </form>


                                    <!--end of content list head-->

                                <div class="content-list-body filter-list-1581963516903">
                                    {% for comment in comments %}
                                    <div class="card card-note">
                                        <div class="card-header">
                                            <div class="media align-items-center">
                                                <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg" class="avatar filter-by-alt" data-toggle="tooltip" data-title="Peggy Brown" data-filter-by="alt" data-original-title="" title="">
                                                <div class="media-body">
                                                    <h6 class="mb-0 H6-filter-by-text" data-filter-by="text">{{ comment.user.username }}</h6>
                                                </div>
                                            </div>
                                            <div class="d-flex align-items-center">
                                                <span data-filter-by="text" class="SPAN-filter-by-text">{{ comment.date|date('Y-m-d|H:s') }}</span>
                                                <div class="ml-1 dropdown card-options">
                                                    <button class="btn-options" type="button" id="note-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#">Edit</a>
                                                        <a class="dropdown-item text-danger" href="#">Delete</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body DIV-filter-by-text" data-filter-by="text">
                                            <p>{{ comment.comment }}</p>
                                            <ul>


                                            </ul>
                                        </div>
                                    </div>
                                 </div>

                            </div>
                                {% endfor %}

                            </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}
