
{% extends "@Main/Default/index.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
    <link href={{ asset('assets/css/theme.css') }} rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/chat.css') }}" rel="stylesheet">

{% endblock %}
{% block contents %}
    <div class="container bootstrap snippet"style="padding-top: 180px;">
        <div class="row " style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
            <div class="col-md-4 bg-white ">
                <div class=" row border-bottom padding-sm" style="height: 40px;">

                </div>

                <!-- =============================================================== -->
                <!-- member list -->
                <ul class="friend-list">
                    <center><a href="{{ path('DisplayUsers') }}"><button type="button" class="btn btn-info  mb-2 mt-2">Add Friends</button></a></center>

                    <div class="alert alert-primary" role="alert">
                        you have {{ requests | length }} friend requests
                    </div>

                    {% for t in threads %}
                        {% if not fos_message_is_read(t) %}
                            <li class="active bounceInDown" style="background-color: #ecf0f1;">
                                <a href="{{ url('messaging_homepage',{'id':t.id}) }}"  class="clearfix">
                                    <img src="{{ asset('uploads/images/' ~ t.lastMessage.sender.image) }}" alt="" class="img-circle  m-2">
                                    <div class="friend-name">
                                        <strong>{{ t.otherParticipants( user) | last}}</strong>
                                    </div>
                                    <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                    <small class="time text-muted">Just now</small>
                                    <small class="chat-alert label label-danger">1</small>
                                </a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ url('messaging_homepage',{'id':t.id}) }}" class="clearfix">
                                    <img src="{{ asset('uploads/images/' ~ t.lastMessage.sender.image) }}" alt="" class="img-circle  m-2">
                                    <div class="friend-name">
                                        <strong>{{ t.otherParticipants( user) | last}}</strong>
                                    </div>
                                    <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                    <small class="time text-muted">at {{ t.lastMessage.timestamp | date('H:i') }}</small>
                                    <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
                    <div id="accordion">
                <ul class="friend-list">
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                inbox
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">

                    {% for t in threadsInbox %}
                            <li class=" bounceInDown" style="background-color: #ecf0f1;">
                                        <a href="{{ url('messaging_homepage',{'id':t.id}) }}"  class="clearfix">
                                            <img src="{{ asset('uploads/images/'~  t.lastMessage.sender.image ) }}" alt="" class="img-circle  m-2">
                                            <div class="friend-name">
                                                <strong>{{ t.otherParticipants( user) | last}}</strong>
                                            </div>
                                            <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                            <small class="time text-muted">at {{ t.lastMessage.timestamp | date('H:i') }}</small>
                                            <small class="chat-alert label label-danger">1</small>
                                        </a>
                                    </li>


                    {% endfor %}

                            </div>
                        </div>

                    </div>

                </ul>
            </div>
            </div>

            <!--=========================================================-->
            <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                <div class="chat-message  overflow-auto" style="max-height: 500px" id="overflow">
                    <ul class="chat  h-50 " id="chat"  >

                    </ul>
                </div>
                <div class="chat-box bg-white">

                        <div class="input-group">
                            {{ form_widget(form.body, {'attr': {'class': 'form-control border no-shadow no-rounded',"placeholder":"Write your message here",'id':"message_body", "name":"message[body]", "type":"textarea"}}) }}

                            {{ form_widget(form._token, {'attr': {'id':"csrf_token"}}) }}
                            <input type="hidden" id="thread" value="{{ thread.id }}">
                        <span class="input-group-btn">
            			<button class="btn btn-success no-rounded"  id="form_login">Send</button>
            		</span>
                    </div><!-- /input-group -->
                </div>


                </div>
            </div>
        </div>
    {% endblock %}

  {% block javascripts %}

      <script type="text/javascript">
          $(document).ready(function() {
              var previousResult= "";
              setInterval(function(){

                  refresh();
              }, 3000);
              function getPreviousChat(){
                  $.ajax({
                      url: '{{ path('refresh') }}',
                      type: 'POST',
                      dataType: "json",
                      data: {
                          refresh: 'true',
                          thread: $('#thread').val(),
                      },
                      success: function(response) {
                          $result = JSON.parse(response);
                          previousResult = $result;
                      }
                  });
              }

              function refresh(){
                  $.ajax({
                      url: '{{ path('refresh') }}',
                      type: 'POST',
                      dataType: "json",
                      data: {
                          refresh: 'true',
                          thread: $('#thread').val(),
                      },
                      success: function (response) {
                          $result = JSON.parse(response);
                          console.log($result);
                          if( JSON.stringify(previousResult) !=  JSON.stringify($result)) {
                              $('#chat').html('');
                              for (var k in $result) {
                                  var seconds = Math.round(new Date().getTime() / 1000) - $result[k].timestamp;
                                  time = new Date(seconds * 1000).toISOString().substr(11, 8);

                                  if ($result[k].sender.username === "{{ user.username }}") {

                                      var e = '<li class="left clearfix">\n' +
                                          '                    <span class="chat-img pull-left">' +
                                          '                    <img src="{{ asset('uploads/images/'~ user.image ) }}" alt="User Avatar">' +
                                          '                    </span>' +
                                          '                            <div class="chat-body clearfix">\n' +
                                          '                                <div class="header">\n' +
                                          '                                    <strong class="primary-font">' + $result[k].sender.username + '</strong>' +
                                          '                                    <small class="pull-right text-muted"><i class="fa fa-clock-o"></i> ' + time + '</small>' +
                                          '                                </div>' +
                                          '                                <p>' +
                                          $result[k].body +
                                          '                                </p>' +
                                          '                            </div>' +
                                          '                        </li>'
                                      $('#chat').append(e);
                                  } else {
                                      var ee = ' <li class="right clearfix">\n' +
                                          '                    <span class="chat-img pull-right">' +
                                          '                    <img src ="/Scrumify/web/uploads/images/'+$result[k].sender.image +'" alt="User Avatar" class="avatar_img"/>' +
                                          '                    </span>' +
                                          '                                    <div class="chat-body clearfix">' +
                                          '                                        <div class="header">' +
                                          '                                            <strong class="primary-font">' + $result[k].sender.username + '</strong>' +
                                          '                                            <small class="pull-right text-muted"><i class="fa fa-clock-o"></i>' + time + '</small>' +
                                          '                                        </div>' +
                                          '                                        <p>' +
                                          $result[k].body +
                                          '                                        </p>' +
                                          '                                    </div>' +
                                          '                                </li>'
                                      $('#chat').append(ee);

                                  }
                                  var x = $('#overflow')[0].scrollHeight;
                                  scrolling = (x - 500);
                                  $('#overflow').scrollTop(scrolling);
                              }

                              getPreviousChat();
                          }

                      }
                  })
              }
              $('#form_login').click(function (e) {
                  e.preventDefault();
                  console.log('click');
                  $.ajax({
                      url: "{{ path('reply') }}",
                      dataType: 'json',
                      type: "post",
                      data: {
                          thread: $('#thread').val(),
                          message: $('#message_body').val(),
                      },
                      success: function (response) {
                          $result = JSON.parse(response);
                          console.log('done');

                      },
                  });
                  refresh();
                  $('#message_body').val('');
              });

          });
      </script>
  {% endblock %}