
{% extends "@Main/Default/index.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
    <link href={{ asset('assets/css/theme.css') }} rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/chat.css') }}" rel="stylesheet">

{% endblock %}
{% block contents %}
    <div class="container bootstrap snippet">
        <div class="row " style="padding-top: 150px;">
            <div class="col-md-4 bg-white ">
                <div class=" row border-bottom padding-sm" style="height: 40px;">
                    Member
                </div>

                <!-- =============================================================== -->
                <!-- member list -->
                <ul class="friend-list">
                    {% for t in threads %}
                        <li>
                            <a href="{{ url('messaging_homepage',{'id':t.id}) }}" class="clearfix">
                                <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle  m-2">
                                <div class="friend-name">
                                    <strong>{{ t.otherParticipants( user) | last}}</strong>
                                </div>
                                <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                <small class="time text-muted">5 mins ago</small>
                                <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!--=========================================================-->
            <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                <div class="chat-message">
                </div>
            </div>
        </div>
    </div>
{% endblock %}