
{% extends "@Main/Default/index.html.twig" %}

{% block stylesheets %}

    <link rel="stylesheet" href={{ asset('Forum/css/style.css') }}>
    <link href={{ asset('assets/css/theme.css') }} rel="stylesheet" type="text/css" media="all" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ asset('assets/css/chat.css') }}" rel="stylesheet">

{% endblock %}
{% block contents %}
    <div class="container bootstrap snippet"style="padding-top: 180px;">
        <div class="row " style="box-shadow: 6px 6px 10px rgba(0,0,0,0.2), -6px -6px 10px    rgba(255,255,255, 0.8); background-color: #ecf0f1;">
            <div class="col-md-4 bg-white ">
                <div class=" row border-bottom padding-sm" style="height: 40px;">

                </div>

                <!-- =============================================================== -->
                <!-- member list -->
                <ul class="friend-list">
                    <center><a href="{{ path('DisplayUsers') }}"><button type="button" class="btn btn-info  mb-2 mt-2">Add Friends</button></a></center>

                    <div class="alert alert-primary" role="alert">
                        you have {{ requests | length }} friend requests
                    </div>

                    {% for t in threads %}
                        {% if not fos_message_is_read(t) %}
                            <li class="active bounceInDown" style="background-color: #ecf0f1;">
                                <a href="{{ url('messaging_homepage',{'id':t.id}) }}"  class="clearfix">
                                    <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle  m-2">
                                    <div class="friend-name">
                                        <strong>{{ t.otherParticipants( user) | last}}</strong>
                                    </div>
                                    <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                    <small class="time text-muted">Just now</small>
                                    <small class="chat-alert label label-danger">1</small>
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{{ url('messaging_homepage',{'id':t.id}) }}" class="clearfix">
                                    <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle  m-2">
                                    <div class="friend-name">
                                        <strong>{{ t.otherParticipants( user) | last}}</strong>
                                    </div>
                                    <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                    <small class="time text-muted">at {{ t.lastMessage.timestamp | date('H:i') }}</small>
                                    <small class="chat-alert text-muted"><i class="fa fa-check"></i></small>
                                </a>
                            </li>
                        {% endif %}

                    {% endfor %}
                </ul>
                <div id="accordion">
                <ul class="friend-list">
                    <div class="card">
                        <div class="card-header">
                            <a class="collapsed card-link" data-toggle="collapse" href="#collapseTwo">
                                inbox
                            </a>
                        </div>
                        <div id="collapseTwo" class="collapse" data-parent="#accordion">
                            <div class="card-body">
                                {% for t in threadsInbox %}
                                    <li class=" bounceInDown" style="background-color: #ecf0f1;">
                                        <a href="{{ url('messaging_homepage',{'id':t.id}) }}"  class="clearfix">
                                            <img src="https://bootdey.com/img/Content/user_2.jpg" alt="" class="img-circle  m-2">
                                            <div class="friend-name">
                                                <strong>{{ t.otherParticipants( user) | last}}</strong>
                                            </div>
                                            <div class="last-message text-muted">{{ t.lastMessage.body }}</div>
                                            <small class="time text-muted">at {{ t.lastMessage.timestamp | date('H:i') }}</small>
                                            <small class="chat-alert label label-danger">1</small>
                                        </a>
                                    </li>


                                {% endfor %}
                            </div>
                        </div>

                    </div>



                </ul>
                </div>
            </div>

            <!--=========================================================-->
            <!-- selected chat -->
            <div class="col-md-8 bg-white ">
                <div class="chat-message  overflow-auto" style="max-height: 500px" id="overflow">
                    <ul class="chat  h-50 " id="chat"  >

                    </ul>
                </div>


            </div>
        </div>
    </div>
{% endblock %}

  {% block javascripts %}

  {% endblock %}