{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('Back/css/app.css') }}">

{% endblock %}
{% block contents %}
<div class="container-fluid p-0">
    <div class="card b-0">
        <div class="row no-gutters">
            <div class="col-md-3 d-none d-md-block text-truncate white b-r ">
                <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 906px;"><div class="sticky slimScroll" style="overflow: hidden; width: auto; height: 906px;">
                        <div class="card-header white ">
                                <div class="form-group has-right-icon m-0 focused">
                                    <input class="form-control light r-30" placeholder="Search" type="text" id="myInput">
                                    <i class="icon-search"></i>
                                </div>
                        </div>
                        <div class="card-body pt-0 light">
                            <ul class="list-unstyled  p-3" id="myList">
                                <!-- Alphabet with number of contacts -->
                                <div class="alert alert-primary " role="alert">
                                    {{ newActivities | length }} new activities
                                </div>
                                <!-- Single contact -->
                                {% for activity in newActivities %}
                                    {%  for t in team  %}
                                    {% if t.userId == activity.User %}
                                    <li class="my-1">
                                        <div class="card no-b p-3 " style="background-color: #c8eaca">
                                            <div class="">
                                                <div class="float-right">
                                                    <a href="{{ path('ChangeActivityState',{'id':activity.id, 'project_id':id}) }}" class="btn-fab btn-fab-sm btn-primary r-5">
                                                        <i class="icon-eye p-0"></i>
                                                    </a>
                                                    <a href="{{ path('delete_activity',{'id':activity.id, 'project_id':id})  }}" class="btn-fab btn-fab-sm btn-danger r-5">
                                                        <i class="icon-delete p-0"></i>
                                                    </a>
                                                </div>
                                                <div class="image mr-3  float-left">
                                                    <img class="w-40px" src="{{ asset('uploads/images/'~t.userId.image) }}" alt="User Image">
                                                </div>
                                                <div>
                                                    <div class="username">
                                                        <strong >{{ activity.User.username }}</strong>
                                                    </div>
                                                    <small> {{ activity.action }}</small>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    {% endif %}
                                    {% endfor %}
                                {% endfor %}
                                {% for activity in activities %}
                                    {%  for t in team  %}
                                    {% if t.userId == activity.User %}
                                    <li class="my-1">
                                    <div class="card no-b p-3">
                                        <div class="">
                                            <div class="float-right">

                                                <a href="{{ path('delete_activity',{'id':activity.id, 'project_id':id}) }}" class="btn-fab btn-fab-sm btn-danger r-5">
                                                    <i class="icon-delete p-0"></i>
                                                </a>
                                            </div>
                                            <div class="image mr-3  float-left">
                                                <img class="w-40px" src="{{ asset('uploads/images/' ~ t.userId.image)  }}" alt="User Image">
                                            </div>
                                            <div>
                                                <div>
                                                    <strong class="username">{{ activity.User.username }}</strong>
                                                </div>
                                                <small> {{ activity.action }}</small>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}
                            </ul>


                        </div>
                    </div><div class="slimScrollBar" style="background: rgba(0, 0, 0, 0.95); width: 5px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 906px;"></div><div class="slimScrollRail" style="width: 5px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>

            </div>
            <div class="col-md-9 col-sm-12 light pt-5  ">
                <button class="btn-lg btn-round m-auto mb-lg-4" data-toggle="modal" data-target="#task-add-modal">
                    <i class="material-icons">add</i>
                </button>
                <div class="card-list w-75 m-auto" style="background-color: #dee2e6">

                        {% for sprint in sprints %}
                                    <div class="card-list w-75 m-auto" style="background-color: #dee2e6">

                    <div class="card-list-head">
                        <h6>{{ sprint.name }}</h6>
                    </div>

                    {% for mm in m %}
                            {% if mm.sprint.id == sprint.id %}

                                <div class="card-list-body filter-list-1581930131283 mb-2"><div class="card card-task">
                                        <div class="progress">
                                            <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                        <div class="card-body">
                                            <div class="card-title">
                                                <a href="#">
                                                    <h6 data-filter-by="text" class="H6-filter-by-text">{{ mm.name }}</h6>
                                                </a>
                                                <span class="text-small">{{ mm.type }}</span>
                                            </div>
                                            <div class="card-meta">
                                                <ul class="avatars">
                                                {% for t in team %}
                                                    <li>
                                                        <a href="#" data-toggle="tooltip" title="Marcus">
                                                            <img  class="avatar" src="{{ asset('uploads/images/'~ t.userId.image) }}">
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                                </ul>
                                                <div class="d-flex align-items-center">
                                                    <i class="material-icons">playlist_add_check</i>
                                                    <span>-/-</span>
                                                </div>
                                                <div class="dropdown card-options">
                                                    <button class="btn-options" type="button" id="task-dropdown-button-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <i class="material-icons">more_vert</i>
                                                    </button>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="{{ path('update_meeting',{'id':mm.id, 'project_id':id}) }}">Edit</a>
                                                        <div class="dropdown-divider"></div>
                                                        <a class="dropdown-item text-danger" href="{{ path('delete_meeting',{'id':mm.id, 'project_id':id}) }}">Archive</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div></div>
                            {% endif %}
                        {% endfor %}


                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="modal fade" id="task-add-modal" tabindex="-1" aria-hidden="true" style="display: none;">
        <div class="modal-dialog" role="document">
            <div class="modal-content  ">
                <div class="modal-header">
                    <h5 class="modal-title">New Meeting</h5>
                    <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                        <i class="material-icons">close</i>
                    </button>
                </div>
                <!--end of modal head-->
                {{ form_start(f) }}
                <div class="modal-body">
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                            <h6>General Details</h6>
                            <div class="form-group row align-items-center">
                                <label class="col-3">Name</label>
                                {{ form_widget(f.name, {'attr': {'class': 'form-control col',"placeholder":"meeting name", "name":"meeting-name","type":"text"}}) }}

                            </div>
                            <div class="form-group row align-items-center">
                                <label class="col-3">place</label>
                                {{ form_widget(f.place, {'attr': {'class': 'form-control col',"placeholder":"meeting place", "name":"meeting-place","type":"text"}}) }}

                            </div>
                            <div class="form-group row">
                                <label class="col-3">type</label>
                                {{ form_widget(f.type, {'attr': {'class': 'form-control col',"placeholder":"meeting type", "name":"meeting-type"}}) }}


                            </div>
                            <div class="form-group row">

                                <label class="col-3">Sprint Name</label>
                                {{ form_widget(f.sprint, {'attr': {'class': 'form-control col', "name":"meeting-sprint"}}) }}
                            </div>

                            <hr>
                            <h6>Timeline</h6>
                            <div class="form-group row align-items-center">
                                <label class="col-3">Start Date</label>

                                {{ form_widget(f.meetingDate) }}
                            </div>


                            <div class="alert alert-warning text-small" role="alert">
                                <span>You can change due dates at any time.</span>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="task-add-members" role="tabpanel">
                            <div class="users-manage" data-filter-list="form-group-users">
                                <div class="mb-3">
                                    <ul class="avatars text-center">

                                        <li>
                                            <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar" data-toggle="tooltip" data-title="Claire Connors">
                                        </li>

                                        <li>
                                            <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar" data-toggle="tooltip" data-title="Marcus Simmons">
                                        </li>

                                        <li>
                                            <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg" class="avatar" data-toggle="tooltip" data-title="Peggy Brown">
                                        </li>

                                        <li>
                                            <img alt="Harry Xai" src="assets/img/avatar-male-2.jpg" class="avatar" data-toggle="tooltip" data-title="Harry Xai">
                                        </li>

                                    </ul>
                                </div>
                                <div class="input-group input-group-round">
                                    <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">filter_list</i>
                                </span>
                                    </div>
                                    <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                </div>
                                <div class="form-group-users filter-list-1581463182514"><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-1" checked="">
                                        <label class="custom-control-label" for="task-user-1">
                                  <span class="d-flex align-items-center">
                                    <img alt="Claire Connors" src="assets/img/avatar-female-1.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Claire Connors</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-2" checked="">
                                        <label class="custom-control-label" for="task-user-2">
                                  <span class="d-flex align-items-center">
                                    <img alt="Marcus Simmons" src="assets/img/avatar-male-1.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Marcus Simmons</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-3" checked="">
                                        <label class="custom-control-label" for="task-user-3">
                                  <span class="d-flex align-items-center">
                                    <img alt="Peggy Brown" src="assets/img/avatar-female-2.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Peggy Brown</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-4" checked="">
                                        <label class="custom-control-label" for="task-user-4">
                                  <span class="d-flex align-items-center">
                                    <img alt="Harry Xai" src="assets/img/avatar-male-2.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Harry Xai</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-5">
                                        <label class="custom-control-label" for="task-user-5">
                                  <span class="d-flex align-items-center">
                                    <img alt="Sally Harper" src="assets/img/avatar-female-3.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Sally Harper</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-6">
                                        <label class="custom-control-label" for="task-user-6">
                                  <span class="d-flex align-items-center">
                                    <img alt="Ravi Singh" src="assets/img/avatar-male-3.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Ravi Singh</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-7">
                                        <label class="custom-control-label" for="task-user-7">
                                  <span class="d-flex align-items-center">
                                    <img alt="Kristina Van Der Stroem" src="assets/img/avatar-female-4.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Kristina Van Der Stroem</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-8">
                                        <label class="custom-control-label" for="task-user-8">
                                  <span class="d-flex align-items-center">
                                    <img alt="David Whittaker" src="assets/img/avatar-male-4.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">David Whittaker</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-9">
                                        <label class="custom-control-label" for="task-user-9">
                                  <span class="d-flex align-items-center">
                                    <img alt="Kerri-Anne Banks" src="assets/img/avatar-female-5.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Kerri-Anne Banks</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-10">
                                        <label class="custom-control-label" for="task-user-10">
                                  <span class="d-flex align-items-center">
                                    <img alt="Masimba Sibanda" src="assets/img/avatar-male-5.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Masimba Sibanda</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-11">
                                        <label class="custom-control-label" for="task-user-11">
                                  <span class="d-flex align-items-center">
                                    <img alt="Krishna Bajaj" src="assets/img/avatar-female-6.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Krishna Bajaj</span>
                                  </span>
                                        </label>
                                    </div><div class="custom-control custom-checkbox">
                                        <input type="checkbox" class="custom-control-input" id="task-user-12">
                                        <label class="custom-control-label" for="task-user-12">
                                  <span class="d-flex align-items-center">
                                    <img alt="Kenny Tran" src="assets/img/avatar-male-6.jpg" class="avatar mr-2">
                                    <span class="h6 mb-0 SPAN-filter-by-text" data-filter-by="text">Kenny Tran</span>
                                  </span>
                                        </label>
                                    </div></div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end of modal body-->
                <div class="modal-footer">
                    {{ form_widget(f._token) }}
                    {{ form_widget(f.submit, {'attr': {'class': 'btn btn-primary', "type":"submit"}}) }}

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myList li").filter(function() {

                    $(this).toggle($(this).find('.username').text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

{% endblock %}