{% extends'baseF.html.twig' %}




                            {% block contents %}
                                {% block row %}

                                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                                        <li>
                                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1">
                                                <i class="icon icon-meeting"></i>Meetings</a>
                                        </li>


                                    </ul>

                                {% endblock %}
                                {% block items %}

                                    <div>
                                        <a href="{{ path('ajoutermeeting', {'id':id} ) }}"><i class="icon-plus " style="-webkit-text-fill-color: #16CABD;font-size: 24px;letter-spacing: 10px;" ></i></a>
                                    </div>


                                    <div style="width:420%;" >
                                        <div class="p-4">


                                            {% for sprint in sprints %}
                                                <div class="card-list w-75 m-auto" style="background-color: #dee2e6">

                                                    <div class="card-list-head">
                                                        <h6>{{ sprint.name }}</h6>
                                                    </div>

                                                    {% for mm in m %}
                                                        {% if mm.sprint.id == sprint.id %}

                                                            <div class="card-list-body filter-list-1581930131283 mb-2"><div class="card card-task">
                                                                    <div class="progress">
                                                                        <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <div class="card-title">
                                                                            <a href="#">
                                                                                <h6 data-filter-by="text" class="H6-filter-by-text">{{ mm.name }}</h6>
                                                                            </a>
                                                                            <span class="text-small">{{ mm.type }}</span>
                                                                        </div>
                                                                        <div class="card-meta">
                                                                            <ul class="avatars">
                                                                                {% for t in team %}
                                                                                    <li>
                                                                                        <a href="#" data-toggle="tooltip" title="Marcus">
                                                                                            <img  class="avatar" src="{{ asset('uploads/images/'~ t.userId.image) }}">
                                                                                        </a>
                                                                                    </li>
                                                                                {% endfor %}

                                                                            </ul>
                                                                            <div class="d-flex align-items-center">
                                                                                <i class="material-icons">playlist_add_check</i>
                                                                                <span>-/-</span>
                                                                            </div>
                                                                            <div class="dropdown card-options">
                                                                                <button class="btn-options" type="button" id="task-dropdown-button-7" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                                    <i class="material-icons">more_vert</i>
                                                                                </button>
                                                                                <div class="dropdown-menu dropdown-menu-right">
                                                                                    <a class="dropdown-item" href="{{ path('update_meeting',{'id':mm.id, 'project_id':id}) }}">Edit</a>
                                                                                    <div class="dropdown-divider"></div>
                                                                                    <a class="dropdown-item text-danger" href="{{ path('delete_meeting',{'id':mm.id, 'project_id':id}) }}">Archive</a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div></div>
                                                        {% endif %}
                                                    {% endfor %}


                                                </div>
                                            {% endfor %}

                                        </div>
                                    </div>
                                    {% block javascripts %}
                                        <script>
                                            $(document).ready(function(){
                                                $("#myInput").on("keyup", function() {
                                                    var value = $(this).val().toLowerCase();
                                                    $("#myList li").filter(function() {

                                                        $(this).toggle($(this).find('.username').text().toLowerCase().indexOf(value) > -1)
                                                    });
                                                });
                                            });
                                        </script>

                                    {% endblock %}

                                {% endblock %}
                            {% endblock %}