{% extends'baseF.html.twig' %}




                            {% block contents %}
                                {% block row %}

                                    <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                                        <li>
                                            <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1">
                                                <i class="icon icon-meeting"></i>Meetings</a>
                                        </li>


                                    </ul>

                                {% endblock %}
                                {% block items %}

                                    <div>
                                        <a href="{{ path('ajoutermeeting', {'id':id} ) }}"><i class="icon-plus " style="-webkit-text-fill-color: #16CABD;font-size: 24px;letter-spacing: 10px;" ></i></a>
                                    </div>




                                            {% for sprint in sprints %}
                                                <div class="card-list w-75 m-5 " style="background-color: #dee2e6">

                                                    <div class="card-list-head">
                                                        <h6>{{ sprint.name }}</h6>
                                                    </div>

                                                    {% for mm in m %}
                                                        {% if mm.sprint.id == sprint.id %}

                                                            <div class="card card-block shadow1 d-flex"  style="width:520%;" >
                                                                <div class="p-4">
                                                                        <div class="counter-title">
                                                                            <a href="#">
                                                                                <h6 data-filter-by="text" class="H6-filter-by-text">{{ mm.name }}</h6>
                                                                            </a>
                                                                            <span class="text-small">Type: {{ mm.type }}</span>
                                                                        </div>
                                                                    <span class="text-small" data-filter-by="text">Meeting date :  {{ mm.meetingDate | date('d-M-Y') }}</span>

                                                                    <div class="card-footer right-side " style="margin-left: 500Px;background-color: transparent;">

                                                                                {% for t in team %}

                                                                                        <a href="#"  title="{{ t.userId.username }}">
                                                                                            <img  class="avatar" src="{{ asset('uploads/images/'~ t.userId.image) }}" >
                                                                                        </a>
                                                                                {% endfor %}
                                                                    </div>
                                                                    <div class="card-footer left-side" style="margin-left: 700Px;background-color: transparent;">
                                                                        <a href="{{ path('delete_meeting',{'id':mm.id, 'project_id':id}) }}"><i class="icon-archive " style="-webkit-text-fill-color: darkred;font-size: 24px;letter-spacing: 10px;" ></i></a>

                                                                        <a href="{{ path('update_meeting',{'id':mm.id, 'project_id':id}) }}"><i class="icon-edit " style="-webkit-text-fill-color: #16CABD;  font-size: 24px;letter-spacing: 10px;"></i></a>


                                                                    </div>

                                                                            </div>
                                                                        </div>
                                                        {% endif %}
                                                <br>
                                                    {% endfor %}

                                                </div>
                                                <br>
                                            {% endfor %}





                                    {% block javascripts %}
                                        <script>
                                            $(document).ready(function(){
                                                $("#myInput").on("keyup", function() {
                                                    var value = $(this).val().toLowerCase();
                                                    $("#myList li").filter(function() {

                                                        $(this).toggle($(this).find('.username').text().toLowerCase().indexOf(value) > -1)
                                                    });
                                                });
                                            });
                                        </script>

                                    {% endblock %}

                                {% endblock %}
                            {% endblock %}