{% extends'baseF.html.twig' %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block contents %}
<div class="page has-sidebar-left height-full">
    <header class="blue accent-3 relative nav-sticky">
        <div class="container-fluid text-white">

            <div class="row">
                <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
                    <li>
                        <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#{{ path('show_tasks_back' ) }}">
                            <i class="icon icon-home2"></i>Scrum Board</a>
                    </li>
                    <li>

                        <a class="nav-link"  href="{{ path('graphe_back' ) }}"><i class="icon icon-plus-circle mb-3"></i>General Overview</a>
                    </li>
                    <li>
                        <a class="nav-link"  href="#v-pills-3"><i class="icon icon-calendar"></i>By Date</a>
                    </li>
                </ul>
                <a class="btn-fab fab-right btn-primary" data-toggle="control-sidebar">
                    <i class="icon icon-menu"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="container-fluid relative animatedParent animateOnce">


    <div class="row">
        <div class="col-12">
            <div class="box">
                <div class="box-header" style="margin-top: 22px">
                    <h3 class="box-title"> Tasks </h3>

                </div>
                <!-- /.box-header -->
                <div class="box-body table-responsive no-padding">

                    <table class="table table-striped">
                        <tbody>
                        <tr>
                            <th style="width: 10px">ID</th>
                            <th>Task</th>
                            <th>Progress</th>
                            <th style="width: 40px">Status</th>
                        </tr>
                        {% for pp in pp %}
                        <tr>
                            <td>{{ pp.id}}</td>
                            <td>{{ pp.title }}</td>
                            {%  if pp.status=="To do" %}
                            <td>
                                <div class="progress progress-xs">
                                    <div class="progress-bar progress-bar-danger" style="width: 0%"></div>
                                </div>
                            </td>
                                {% elseif pp.status=="Doing" %}
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger" style="width: 50%"></div>
                                        </div>
                                    </td>
                                {% elseif pp.status=="Done" %}
                                    <td>
                                        <div class="progress progress-xs">
                                            <div class="progress-bar progress-bar-danger" style="width: 100%"></div>
                                        </div>
                                    </td>
                                {% elseif pp.status=="Block" %}
                                    <td>
                                        <span class="badge text-white bg-red">Problem</span>
                                    </td>
                            {% endif %}

                            {% if pp.etat==0 %}

                            <td><span class="badge text-white bg-green" >Active</span>
                                {% else %}
                            <td> <a class="badge text-white bg-red"  href="{{ path('desarchiver', { 'id': pp.id }) }}">Disabled</a>


                                {% endif %}
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
    </div>
{% endblock %}
