{% extends'baseF.html.twig' %}


{% block head %}
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="{{  asset('Back/img/dummy/scrumify.png')}}" type="image/x-icon">
        <title>Scrumify </title>
        <!-- CSS -->
        <link href="{{ asset('assets/css/theme.css') }}" rel="stylesheet" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('Back/css/app.css') }}">
        <style>
            .loader {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background-color: #F5F8FA;
                z-index: 9998;
                text-align: center;
            }

            .plane-container {
                position: absolute;
                top: 50%;
                left: 50%;
            }
        </style>
    </head>
{% endblock %}

{% block contents %}

    {% block row %}

        <ul class="nav responsive-tab nav-material nav-material-white" id="v-pills-tab">
            <li>
                <a class="nav-link active" id="v-pills-1-tab" data-toggle="pill" href="#v-pills-1">
                    <i class="icon icon-puzzle-piece"></i>Scrum Board of {{ userstory.description }}</a>
            </li>
        </ul>

    {% endblock %}
{% block items %}

    <a class="btn btn-link btn-sm text-small" data-toggle="modal" data-target="#myModal1"><i class="icon-plus " style="-webkit-text-fill-color: #16CABD;font-size: 24px;letter-spacing: 10px;" ></i></a>
    <a class="btn btn-link btn-sm text-small"  href="{{path('graphe_homepage')}}" >Tasks statistics</a>



<div class="main-container"   >
<div style="background-image:url({{ asset("Front/Index/images/Image10.png")  }}); height: 500%;width: 420%;background-repeat: no-repeat;-ms-background-position-x: right;background-position: right;opacity: 80%;">

        <div class="kanban-board container-fluid mt-lg-3" style="height: 800px" id="board">
            <!-- colone to do-->
            <div class="kanban-col">
                <div class="card-list" >
                    <div class="card-list-header">
                        <h6>To Do</h6>
                    </div>
                    <div class="card-list-body">
                        <!--kaaba sticky note -->
                        {%  for TaskTodo in TaskTodo %}
                            <div class="card card-kanban" draggable="true"  ondragend="drop('{{ path('statut_task',{ 'id': TaskTodo.id ,'statut':'Doing'}) }}')">


                            <div class="card-body">
                                <!--menu sticky note-->
                                    <button class="btn-options" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="icon icon-arrow_drop_down"></i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{ path('edit_tasks', { 'id': TaskTodo.id }) }}" >Edit</a>
                                        <a class="dropdown-item text-danger" href="{{ path('archiver_tasks', { 'id': TaskTodo.id }) }}">Archive Card</a>
                                    </div>

                                <div class="card-title">
                                    <a href="#" data-toggle="modal" data-target="#task-modal">
                                        <h5>{{ TaskTodo.title }}</h5>
                                        <h6> {{ TaskTodo.description }} </h6>
                                    </a>
                                </div>
                                <div class="card-meta d-flex justify-content-between">

                                    <span class="text-small">Due {{ TaskTodo.finished|date('Y-m-d H:i:s') }}</span>

                                </div>

                            </div>
                        </div>

                        {% endfor %}
                    </div>



                </div>
            </div>

            <div class="modal" id="myModal1" role="dialog">

                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title">New Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <i class="icon icon-close2"></i>
                            </button>
                        </div>
                        <!--end of modal head-->
                        <ul class="nav nav-tabs nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="task-add-details-tab" data-toggle="tab" href="#task-add-details" role="tab" aria-controls="task-add-details" aria-selected="true">Details</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="task-add-members-tab" data-toggle="tab" href="#task-add-members" role="tab" aria-controls="task-add-members" aria-selected="false">Members</a>
                            </li>
                        </ul>
                        <div class="modal-body">
                            {{ form_start(form, {'multipart': true}) }}
                            <div class="tab-content">

                                <div class="tab-pane fade show active" id="task-add-details" role="tabpanel">
                                    <h6>General Details</h6>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Title</label>
                                        {{ form_widget(form.title, {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Priority</label>
                                        {{ form_widget(form.priority, {'attr': {'class': 'form-control col'}}) }}
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-3">Description</label>
                                        {{ form_widget(form.description, {'attr': {'class': 'form-control col'}}) }}
                                    </div>
                                    <hr>
                                    <div class="form-group row align-items-center">
                                        <label class="col-3">Due Date</label>
                                        {{ form_widget(form.finished, {'attr': {'class': 'form-control col'}}) }}

                                    </div>
                                    <div class="alert alert-warning text-small" role="alert">
                                        <span>You can change due dates at any time.</span>
                                    </div>

                                </div>

                                <!-- end form-->
                                <div class="tab-pane fade" id="task-add-members" role="tabpanel">
                                    <div class="users-manage" data-filter-list="form-group-users">

                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                                <span class="input-group-text">
                                  <i class="material-icons">filter_list</i>
                                </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter members" aria-label="Filter Members">
                                        </div>

                                        <div class="form-group-users">

                                            <div >
                                                {% for users in users  %}

                                                <div>
                                                    <label >{{ users.username }}</label>

                                                    <input  aria-label="Name" type="checkbox" class="form-check-label" value="{{ users.username }}" name="users[]" multiple="multiple">
                                                </div>
                                                    <br>


                                                {% endfor %}
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="file"  class="dropzone dz-clickable" name="file">
                            <input type="submit" class="btn btn-primary" value="ok">
                            {{ form_end(form) }}

                        </div>
                        <!--end of modal body-->

                    </div>


                </div>

            </div>

            <!--end colone to do -->
            <!--colone doing -->


            <div class="kanban-col">
                <div class="card-list">
                    <div class="card-list-header">
                        <h6>Doing</h6>

                    </div>
                    <div class="card-list-body">
                        {%  for TaskDoing in TaskDoing %}
                        <div class="card card-kanban" draggable="true" ondragstart="drop('{{ path('statut_task',{ 'id': TaskDoing.id ,'statut':'Done'}) }}')">

                            <div class="card-body">
                                <button class="btn-options dropdown-menu-lg-right" type="button"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="alignment: right;">
                                    <i class="icon icon-arrow_drop_down"></i>
                                </button>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="{{ path('edit_tasks', { 'id': TaskDoing.id }) }}" >Edit</a>
                                    <a class="dropdown-item text-danger" href="{{ path('archiver_tasks', { 'id': TaskDoing.id }) }}">Archive Card</a>
                                </div>

                                <div class="card-title">
                                    <a href="#" data-toggle="modal" data-target="#task-modal">
                                        <h5>{{ TaskDoing.title }}</h5>
                                        <h6> {{ TaskDoing.description }} </h6>
                                    </a>
                                </div>

                                <div class="card-meta d-flex justify-content-between">

                                    <span class="text-small">Due {{ TaskDoing.finished|date('Y-m-d H:i:s') }}</span>

                                </div>

                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
            <!--end doing-->

            <!--start done-->
            <div class="kanban-col">
                <div class="card-list">
                    <div class="card-list-header">
                        <h6>Done</h6>
                    </div>
                    <div class="card-list-body">
                        {%  for TaskDone in TaskDone %}

                            <div class="card card-kanban" draggable="true" ondragstart="drop('{{ path('statut_task',{ 'id': TaskDone.id ,'statut':'Doing'}) }}')">

                          <div class="card-body">
                                <div class="dropdown card-options">
                                    <button class="btn-options" type="button" id="kanban-dropdown-button-6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{ path('edit_tasks', { 'id': TaskDone.id }) }}" >Edit</a>
                                        <a class="dropdown-item text-danger" href="{{ path('archiver_tasks', { 'id': TaskDone.id }) }}">Archive Card</a>
                                    </div>
                                </div>
                                <div class="card-title">
                                    <a href="#" data-toggle="modal" data-target="#task-modal">
                                        <h5> {{ TaskDone.title }}</h5>
                                        <h6>  {{ TaskDone.description }}</h6>
                                    </a>
                                </div>

                                <div class="card-meta d-flex justify-content-between">

                                    <span class="text-small">Due {{ TaskDone.finished|date('Y-m-d H:i:s') }}</span>

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>
            <!--end done -->
            <!--start block-->

            <div class="kanban-col">
                <div class="card-list">
                    <div class="card-list-header">
                        <h6>Block </h6>
                    </div>
                    <div class="card-list-body">

                        {% for TaskBlock in TaskBlock %}
                        <div class="card card-kanban">

                            <div class="card-body">
                                <div class="dropdown card-options">
                                    <button class="btn-options" type="button" id="kanban-dropdown-button-17" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="material-icons">more_vert</i>
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="{{ path('edit_tasks', { 'id': TaskBlock.id }) }}" >Edit</a>
                                        <a class="dropdown-item text-danger" href="{{ path('archiver_tasks', { 'id': TaskBlock.id }) }}">Archive Card</a>
                                    </div>
                                </div>



                                <div class="card-title">
                                    <a href="#" data-toggle="modal" data-target="#task-modal">
                                        <h5>{{ TaskBlock.title }}</h5>
                                        <h6> {{ TaskBlock.description }} </h6>
                                    </a>
                                </div>

                                <div class="card-meta d-flex justify-content-between">

                                    <span class="text-small">Due {{ TaskBlock.finished|date('Y-m-d H:i:s') }}</span>

                                </div>

                            </div>
                        </div>
                        {% endfor %}
                    </div>




                </div>

            </div>

        </div>
</div>
</div>

<script>
    function drop(x) {
        console.log(x);
        $.ajax({

            url: x,
            method:"POST", //First change type to method here
            data:{
                item_id: "id", // Second add quotes on the value.
            },
            success:function(response) {
                console.log(response);
                window.location.reload();
            },


        });



    }
</script>


{% endblock %}
{% endblock %}
