{% extends'base.html.twig' %}
{% block title %}Team{% endblock %}
{% block soustitle %}   <a class="nav-link" }}>Role Homepage</a> {% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}



    {% block contents %}
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-10 col-lg-11">
                    <hr>
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Role</a>
                        </li>

                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="projects" role="tabpanel" data-filter-list="content-list-body">
                            <div class="content-list">
                                <div class="row content-list-head">
                                    <div class="col-auto">
                                        <h3>Role</h3>
                                        <button class="btn btn-round" data-toggle="modal" data-target="#project-add-modal">
                                            <i class="material-icons">add</i>
                                        </button>
                                    </div>
                                    <form class="col-md-auto">
                                        <div class="input-group input-group-round">
                                            <div class="input-group-prepend">
                            <span class="input-group-text">
                              <i class="material-icons">filter_list</i>
                            </span>
                                            </div>
                                            <input type="search" class="form-control filter-list-input" placeholder="Filter teams" aria-label="Filter Teams">
                                        </div>
                                    </form>
                                </div>
                                <!--end of content list head-->
                                <div class="content-list-body row">
                                    {% for con in con %}
                                        {% if con.ind != 1 %}
                                        <div class="col-lg-6">
                                            <div class="card card-project">

                                                <div class="progress">
                                                    <div class="progress-bar bg-danger" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>

                                                <div class="card-body">
                                                    <div class="dropdown card-options">
                                                        <button class="btn-options" type="button" id="project-dropdown-button-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <i class="material-icons">more_vert</i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <a class="dropdown-item" href="{{ path('edit_role', {'id': con.id}) }}">Edit</a>
                                                            <a class="dropdown-item text-danger" href="{{ path('archive_role', { 'id': con.id }) }}">Archive role</a>

                                                        </div>
                                                    </div>
                                                    <div class="card-title">
                                                        <a href="#">
                                                            <h5 data-filter-by="text"> {{ con.role }}</h5>


                                                        </a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>{% endif %}
                                    {% endfor %}



                                </div>
                                <!--end of content list body-->
                            </div>
                            <!--end of content list-->
                        </div>
                        <!--end of tab-->

                    </div>



                    <div class="modal fade" id="project-add-modal" tabindex="-1" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title">New Role</h5>
                                    <button type="button" class="close btn btn-round" data-dismiss="modal" aria-label="Close">
                                        <i class="material-icons">close</i>
                                    </button>
                                </div>
                                <!--end of modal head-->
                                <ul class="nav nav-tabs nav-fill" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" id="project-add-details-tab" data-toggle="tab" href="#project-add-details" role="tab" aria-controls="project-add-details" aria-selected="true">Details</a>
                                    </li>

                                </ul>
                                <div class="modal-body">


                                    <div class="tab-content">
                                        <div class="tab-pane fade show active" id="project-add-details" role="tabpanel">
                                            <h6>General Details</h6>
                                            <div class="form-group row align-items-center">
                                                <label class="col-3">Role Name</label>
                                                {{ form_start(form) }}
                                                {{ form_widget(form.role ,{'attr': {'class': 'form-control col'}})}}
                                            </div>

                                            <hr>

                                            <div class="form-group row align-items-center">

                                                <label class="col-3">Ajouter</label>


                                                {{ form_widget(form.Ajouter,{'attr': {'class': 'form-control col'}})}}
                                                {{ form_end(form) }}

                                            </div>
                                        </div>

                                    </div>

                                </div>
                            </div>
                            <!--end of modal body-->
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        </div>


        </div>
        </div>

    {% endblock %}
{% endblock %}
