{% extends'baseF.html.twig' %}
     {% block dashlink %}
         <li><a href="{{path('dash')}}"><i class="icon icon-folder5"></i>Overview</a>
         </li>
     {% endblock %}
  {% block statlink %}
      <li><a href="{{path('chartback')}}"><i class="icon icon-folder5"></i>Projects Statistics</a>
      </li>
      <li><a href="{{path('chartback')}}"><i class="icon icon-folder5"></i>Team statistis</a>
      </li>
  {% endblock %}
    {% block projectlink %}
        <ul class="treeview-menu">
            <li><a href="{{path('back')}}"><i class="icon icon-circle-o"></i> Projects</a>
            </li>

        </ul>
    {% endblock %}
        {% block teamlink %}
            <li class="treeview"><a href="{{ path('show_team_back') }}"><i class="icon icon-account_box light-green-text s-18"></i>Teams<i
                            class="icon icon-angle-left s-18 pull-right"></i></a>

            </li>
        {% endblock %}
  {% block inboxxlink %}

  {% endblock %}
{%  block forumlink %}
    <li class="treeview no-b"><a href="{{ path('_display_back_questions') }}">
            <i class="icon icon-question_answer blue-text s-18"></i>
            <span>Forum</span>
        </a>

    </li>
{% endblock %}
{% block contents %}
{% block items %}

                <!-- /.box-header -->
                <div style="margin-left: 50px; margin-top: 20px;display: -webkit-inline-flex;">
                    <div id="oldColumnChart"></div>
                    <div id="newColumnChart"></div>

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript">
                        {{ gc_draw([oldColumnChart, newColumnChart], ['oldColumnChart', 'newColumnChart']) }}
                    </script>
                </div>
                <div id="div_chart" style=" margin-top: 20px; margin-left: 50px; background-color: transparent">

                    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
                    <script type="text/javascript" >
                        {{ gc_draw(piechart, 'div_chart') }}
                    </script>
                </div>
                <!-- /.box-body -->

    {% endblock %}
{% endblock %}